<%- include("partials/header") %>

<div class="container">
    <div class="welcome-text">
        <!-- Assuming the variable that contains the username is `Username` -->
        <h1 class="display-3 username">Welcome, <span class="user"><%= Username %></span></h1>
    </div>

    <div class="menu-options">
        <button class="btn btn-lg btn-primary">Join the Game</button>
        <button class="btn btn-lg btn-primary">Leaderboard</button>
        <a href="/rules" class="btn btn-lg btn-primary">Game Rules</a>
        <a href="/settings" class="btn btn-settings"><i class="fas fa-cog"></i> Settings</a>
        <button id="logout" class="btn btn-lg btn-danger">Logout</button>
    </div>
</div>

</body>
<head>
    <link rel="stylesheet" href="/css/menu.css"></link>
</head>
</html>
