<%- include("partials/header") %>

<div class="container">
    <div class="welcome-text">
        <!-- Assuming the variable that contains the username is `Username` -->
        <h1 class="display-3 username">Welcome, <span class="user"><%= username %></span></h1>
    </div>

    <div class="menu-options">
        <a href="/play" class="btn btn-lg btn-primary"><i class="fas fa-gamepad"></i> Join the game</a>
        <a href="/leaderboard" class="btn btn-lg btn-primary"><i class="fas fa-trophy"></i> Leaderboard</a>
        <a href="/rules" class="btn btn-lg btn-primary"><i class="fas fa-book"></i> Game Rules</a>
        <a href="/settings" class="btn btn-settings"><i class="fas fa-cog"></i> Settings</a>
        <a href="/logout" class="btn btn-lg btn-danger"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
</div>

</body>
<head>
    <link rel="stylesheet" href="/css/menu.css"></link>
</head>
</html>
