.btn-primary{
    margin-top: 10px;
    padding: 12px 20px;
    text-align: left;
    
}

.container{
    margin-top: 5%;
    width: 70%;
    padding: 15px;
    background-color: white;
    height: 50px;
}

body{
   background-color: #E8ECEF; 
}
