/* .form-group{
   margin-bottom: 10px;
   padding: 22px 25px 
} */

.btn-primary{
    
    padding: 15px 80px;
    font-size: 28px;
    
}
.btn-success{
    padding: 15px 80px;
    font-size: 28px;
}

