<%- include("partials/header") %>    
        <div class="my-3 mx-3">
            <h1 class="text-center">Rules</h1>
            <hr class="mx-4">
            <p style="font-size: 20px;"><b>Cards Against Aadit</b> is an online adaptation of the popular "Cards Against Humanity" board game. The premise is simple: choose the funniest card to fill in the blank and win points!</b> </p>
            <h2>Setup</h2>
            <p style="font-size: 20px;"> Initially, one player becomes the <b>card czar</b> (this rotates each round). This is the player that decides which player wins the round. At the start of the game, each player is dealt 8 <b>white cards</b> which they can use to fill in the blank of the one <b>black card</b> placed on the board at the start of each round. </p>

            
            <h2>Gameplay</h2>
            <p style="font-size: 20px;">The black card on the board has some text on it and one or more blanks. Each player that is not the <b>card czar</b> plays either 1 or 2 of their white cards (depending on what the black card asks for) to fill in the blank(s) of this black card. At the end of the round, the czar selects the winning card (which they find the funniest) and that player gains a point. The first player to gain <b>5 points</b> wins!</p>

          
        </div>
        <div style = "margin-top: 10px;">

            <div class="col-">
                <div class="row justify-content-center">
                    <a href="/menu" role="button" class="btn btn-primary btn-lg btn-block">BACK</a>
                    
                </div>
            </div>
        </div>
    </body>
    </html>